.idea/
target/
src/main/resources/*.enc
src/**/*.ptx
src/**/*.save
data/
junit-platform-console-standalone-1.5.0-M1.jar
lib

papers/**/*.aux
papers/**/*.blg
papers/**/*.glo
papers/**/*.log
papers/**/*.xml
papers/**/*.pdf
papers/**/*.toc
papers/**/*.ist
papers/**/*.bbl
papers/**/*blx.bib
papers/**/*.gz
papers/**/*.acn
papers/**/*.acr
papers/**/*.alg
papers/**/*.glg
papers/**/*.gls
